*{
	font-family: monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(35deg, rgba(45, 98, 215, .3), rgba(175, 25, 147, .3));
}
.container{
	background: cyan;
	width: 50%;
	height: 50%;
	border-radius: 7px;
	box-shadow: 0 8px 16px 0 gray;
	padding: 15px;
	
}
.container h1{
	text-align: center;
}
.form-content, .result{
margin-top: 20px;
display: flex;
justify-content: center;

}
.form-content input, select{
	margin: 5px;
	padding: 15px;
	width: 300px;
	border-left: none;
	border-top: none;
	border-right: none;
	background: transparent;
}
input[type='number']::placeholder{
	text-align: center;
}
#btn{
	background: gray;
	color: white;
	border: 1px solid black;
	border-radius: 7px;
}